{% extends 'base.html.twig' %}
{% block title %}Tasks{% endblock %}

{% block body %}
    <h1>{{ task.name }}</h1>
    <p>
        Due date: {{ task.dueDate | date('d/m/Y') }}
        Completed: {{ task.finished }}
    </p>

{% endblock %}